*~
*.otf
*.ttf
*.bdf
*.pfm
*.afm
*.woff
*.g2n
3270_HQ_Narrow.sfd
3270_HQ_SemiNarrow.sfd
3270_fonts_*.zip
powerline-symbols.sfd
3270_sample.png
.env
env
.DS_Store
.#*
*#

# The build directory
build

# Idea's folder
.idea

# The Google Fonts files
gfonts_files


social_preview.png
